.loader-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  background: #2152bb;
  z-index: 10000;
  text-align: center;
}
.loader-content {
  position: relative;
  top: 40%;
}
.loader {
  border: 0.250em solid #cf4044;
  border-radius: 50%;
  border-top: 0.250em solid #caf9ff;
  border-bottom: 0.250em solid #caf9ff;
  width: 3em;
  height: 3em;
  -webkit-animation: spin 1s ease-out infinite;
          animation: spin 1s ease-out infinite;
  display: inline-block;
  background: #4ea2c7;
  -webkit-box-shadow: 0em 0em 0.813em 0.25em #8adbff;
          box-shadow: 0em 0em 0.813em 0.25em #8adbff; 
  zoom: 1;
}
.loader-text {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 0.5em;
  font-size: 2em;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 0.063em 0.063em #004a54;
  -webkit-animation: bounce 3s linear infinite;
          animation: bounce 3s linear infinite;
  letter-spacing: 0.3em;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes bounce {
  0% {
      top: 0;
  }
  25% {
      top: 0.625em;
  }
  50% {
      top: 0;
  }
  75% {
      top: 0.625em;
  }
  100% {
      top: 0;
  }
}

@keyframes bounce {
  0% {
      top: 0;
  }
  25% {
      top: 0.625em;
  }
  50% {
      top: 0;
  }
  75% {
      top: 0.625em; 
  }
  100% {
      top: 0;
  }
}